* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Times New Roman-Regular", Times, serif;
  width: 100%;
}
.background-container {
  min-height: 80vh;
  position: relative;
  /* overflow: hidden; */
  background-color: #efaf64;
  z-index: -1;
  width: 100%;
}

.text-container {
  position: absolute;
  top: 160px;
  left: 100px;
  width: 40%;
  color: white;
}

.text-container .title-container {
  margin-top: 50px;
  margin-bottom: 20px;

  font-size: 34px;
  font-weight: lighter;
  color: white;
  margin-bottom: 20px;
}
.left-container .text-secundary {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

.button-container {
  margin-top: 30px;
}
.button-container button {
  width: 160px;
  height: 54px;
  border: none;
  border-radius: 28px;
  background-color: #fe6e06;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}

.rigth-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-container {
  margin-top: 110px;
}
.image-container img {
  top: 80px;

  height: 76vh;
  z-index: 1;
}
.fondo-arco-inverso {
  width: 58vh;
  height: 74vh;
  border-radius: 0 0 48% 48%;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.8) 106%
  );
  z-index: -1;
}

.elipse {
  position: relative;
  top: 130px;
  left: 325px;
}
.elipse img {
  width: 106px;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  left: 20px;
  position: relative;
  top: 400px;
}

.frames-container {
  width: 160px;
  height: 140px;
  background-color: #faefe3;
  margin-right: 20px;
  border-radius: 20px;
}

.frames-container .vector {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.frames-container .vector img {
  width: 20px;
  margin: 14px 14px 8px 14px;
}
.frames-container .titulo-span {
  margin-left: 10px;
  margin-top: 4px;
  font-size: 14px;
  font-weight: bold;
}
.frames-container .contenido-span {
  display: block;
  margin-top: 4px;
  margin-left: 8px;
}
