* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #efaf64;
  width: 80%;
}

.text-container {
  position: absolute;
  top: 160px;
  left: 100px;
  width: 40%;
}

.text-container .title-container {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Times New Roman-Regular", Times, serif;
  font-size: 34px;
  font-weight: lighter;
  color: white;
  margin-bottom: 20px;
}
.left-container .text-secundary {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

.button-container {
  margin-top: 20px;
}
.button-container button {
  width: 160px;
  height: 54px;
  border-radius: 28px;
  background-color: #fe6e06;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}

.rigth-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-container {
  margin-top: 60px;
  width: 80%;
  height: 75%;
}
.image-container img {
  top: 60px;
  width: 70vh;
  height: 70vh;
}
.fondo-arco-inverso {
  width: 450px;
  height: 550px;
  border-radius: 0 0 48% 48%;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.8) 106%
  );
  z-index: -1;
}

.elipse {
  position: relative;
  top: 70px;
  left: 500px;
}
.elipse img {
  width: 150px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 500px;
  margin-left: 20px;
  margin-right: 0;
  padding: 20px;
  background-color: #333; /* Ajusta el color de fondo según tus 
  color: white; /* Ajusta el color del texto según tus necesidades */
}

.frames-container {
  background-color: #faefe3;
  margin: 8px;
  border-radius: 20px;
  text-align: center;
}

.frames-container .vector {
  width: 12%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
